# rails artefacts from https://github.com/github/gitignore/blob/master/Rails.gitignore
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/public/assets
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_*
*~

# ruby artefacts from https://github.com/github/gitignore/blob/master/Ruby.gitignore
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
idea
phantomjs/
libpeerconnection.log

reports/

elasticsearch-0.90.2.deb