<% content_for :title, "Page Not Found" %>
<div class="page-header">
  <h1>
    Page Not Found
    <sup id="error-code">404</sup>
  </h1>
</div>
<p>Sorry, the page you requested could not be found, the possible reasons for this are:</p>
<ul>
  <li>A typing error - the address may have been mis-typed or the wrong case used within the address.</li>
  <li>The page no longer exists - the page may have been deleted or may now be in a different location.</li>
  <li>There may be restricted access to the page.</li>
</ul>
